<?xml version="1.0"?>
<!--
/**
 * @author Branko Ajzele <ajzele@gmail.com>
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config>
    <sections>
        <inchoo_twitterconnect translate="label" module="inchoo_twitterconnect">
            <label>Twitter Connect</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Twitter Connect Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label" module="inchoo_twitterconnect">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <consumer_key translate="label">
                            <label>Consumer Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </consumer_key>
                        <consumer_secret translate="label">
                            <label>Consumer Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </consumer_secret>
                       <callback_url translate="label">
                            <label>Callback Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </callback_url>                         
                        <twitter_oauth_site_url translate="label">
                            <label>Twitter Site Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </twitter_oauth_site_url>                        
                        <button_position translate="label">
                            <label>Position</label>
                            <comment><![CDATA[Controls the position of the Twitter login button in the main navigation menu. Please use integer value. Default value is set to 9999.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </button_position>
                        <button_style translate="label">
                            <label>Button Style</label>
                            <comment><![CDATA[Twitter would prefer your application to use one of the following button styles.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>inchoo_twitterconnect/config_button_style</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </button_style>
                        <custom_button_style_img translate="label">
                            <label>Custom Button Style Image</label>
                            <comment><![CDATA[If image is assigned to this field it will override the "Button Style" selection.]]></comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">inchoo/twitterconnect</upload_dir>
                            <base_url type="media" scope_info="1">inchoo/twitterconnect</base_url>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </custom_button_style_img>                        
                    </fields>
                </settings>
            </groups>
        </inchoo_twitterconnect>
    </sections>
</config>